<main class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/images/imgi_1_avataaars.svg" alt="Developer">
        <div class="title text-white pt-4">
            <h2>START FRAMEWORK</h2>
            <div class="icon d-flex justify-content-center aligite mb-3 position-relative"><i class="fa-solid fa-star"></i></div>
        </div>
        <div class="jobs text-white">Graphic Artist - Web Designer - Illustrator</div>
    </div>
</main>